.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;  /*centers horizontally*/
    align-items: center;
    background-color:white;
    list-style: none;
    gap: 80px;
    padding: 2px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar img{
    border-radius: 150px;
    height: 50px;
    width: 50px;
    border: 25px;
    border-color: rgb(65, 65, 65);
}
.navbar li:hover{
    color:rgb(6, 6, 6);
    font-weight:700;
}
.about{
    text-align: center;
    padding: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size:40px;
    height: 30px;
}
.about-body {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #d5dae0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.0);
    border: 60px;
    gap: 50px;
    padding: 140px 180px;
    margin: 0.1px;
}
.about-text {
    flex: 2;
    text-align: left;
}
.about-text p{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image-column {
    flex: 1;
}
.about img{
    border-radius: 100px;
    width: 350px;
    height: 350px;
    object-fit: cover;
}
h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 5rem;
}
.card {
     background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      transition: transform 0.3s;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.card:hover {
      transform: translateY(-5px);
    }
.card p {
      margin: 0 1rem 1rem;
      font-size: 0.95rem;
      line-height: 1.4;
    }
    .card h3{
        text-align: center;
    }