.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color:white;
    list-style: none;
    gap: 20px; 
    margin-top: 0px; 
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar img{
    border-radius: 150px;
    height: 50px;
    width: 50px;
    border: 25px;
    border-color: rgb(65, 65, 65);
}
.navbar li:hover{
    color:rgb(6, 6, 6);
    font-weight:700;
}
        body{
         background: linear-gradient(135deg, rgb(63, 63, 142) 0%, rgb(15, 15, 32) 100%);
        }
        .about{
        text-align: center;
        padding: 90px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .about h1{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-size:40px;
        height: 30px;
        margin-bottom: 37px;
        }
        .about-body {
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        background-color: #d5dae0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.0);
        border: 60px;
        gap: 50px;
        padding: 60px 100px;
    

        }
        .about-text {
        flex: 2;
        text-align: left;
        }
        .about-text p{
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .image-column {
        flex: 1;
        }
        .about img{
        border-radius: 100px;
        width: 350px;
        height: 350px;
        object-fit: cover;
        }
        h1 {
        color: white;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        }
        .grid {
        margin: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        }
        .card {
        background: #fff;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transition: transform 0.3s;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .card:hover {
        transform: translateY(-5px);
        }
        .card p {
            text-align: center;
            color: #465364;
        margin: 0 1rem 1rem;
        font-size: 1rem;
        line-height: 1.4;
        }
        .card h3{
        text-align: center;
        font-size: 30px;
        }